<head>
<style>
    table {
        border-collapse: collapse;
    }
    td, th, pre {
        border: 1px solid rgb(107 114 128);
    }
    #net-statistic {
        max-height: 330px;
        overflow: auto;
    }
</style>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="p-2">
<h1 class="text-4xl text-center font-extrabold">Network detail on Hostname: {{.hostname}} </h1>
<div>
    <h2 class="text-3xl font-extrabold">Network statistic:</h2>
    <div class="flex">
        <div>
            <table class="w-full text-sm text-left rtl:text-right dark:text-gray-400">
                <tr>
                    <th scope="col">Interface</th><td> {{.nets.InterfaceName}}</td>
                </tr> <tr>
                    <th scope="col">RxBytes</th><td> {{.nets.RxBytes}}B</td>
                </tr> <tr>
                    <th scope="col">RxDropped</th><td> {{.nets.RxDropped}} packets</td>
                </tr> <tr>
                    <th scope="col">RxErrors</th><td> {{.nets.RxErrors}}</td>
                </tr> <tr>
                    <th scope="col">TxBytes</th><td> {{.nets.TxBytes}}B</td>
                </tr> <tr>
                    <th scope="col">TxDropped</th><td> {{.nets.TxDropped}} packets</td>
                </tr> <tr>
                    <th scope="col">TxErrors</th><td> {{.nets.TxErrors}}</td>
                </tr> <tr>
                    <th scope="col">sockets</th><td> {{.nets.Sockstat.Sockets}} sockets</td>
                </tr> <tr>
                    <th scope="col">TCP.inuse</th><td> {{.nets.Sockstat.TCP.InUse}} sockets</td>
                </tr> <tr>
                    <th scope="col">TCP.tw</th><td> {{.nets.Sockstat.TCP.Tw}} sockets</td>
                </tr> <tr>
                    <th scope="col">TCP.alloc</th><td> {{.nets.Sockstat.TCP.Alloc}} sockets</td>
                </tr> <tr>
                    <th scope="col">UDP.inuse</th><td> {{.nets.Sockstat.UDP.InUse}} sockets</td>
                </tr> <tr>
                    <th scope="col">tcp_rmem</th><td> {{.nets.TCPReadMem}} B</td>
                </tr> <tr>
                    <th scope="col">tcp_wmem</th><td> {{.nets.TCPWriteMem}} B</td>
                </tr>
            </table>
        </div>
        <pre id="net-statistic" class="mx-1"> {{.netsStr}} </pre>
    </div>
</div>
<hr class="my-8">
<div>
    <h2 class="text-3xl font-extrabold">TCP Connections:</h2>
    <table class="w-full text-sm text-left rtl:text-right  dark:text-gray-400">
        {{range $key, $value := .tcpCounts}}
        <tr>
            <th scope="col">{{$key}}</th><td> {{$value}}</td>
        </tr>
        {{end}}
    </table>
    <hr class="my-2">
    <table class="w-full text-sm text-left rtl:text-right  dark:text-gray-400">
        <tr>
            <th scope="col">State</th>
            <th scope="col">Proto</th>
            <th scope="col">LocalAddr</th>
            <th scope="col">RemoteAddr</th>
        </tr>
    {{range $i, $r := .conns}}
        <tr>
            <th scope="col">{{$r.State}}</th>
            <td>{{$r.Proto}}</td>
            <td>{{$r.LocalAddr}}</td>
            <td>{{$r.ForeignAddr}}</td>
        </tr>
    {{end}}
    </table>
</div>
<script src="./bundle.js"> </script>
<script>
window.onload = function() { }
</script>
</body>