<style>
    table {
        border-collapse: collapse;
    }
    td, th, pre {
        border: 1px solid black;
    }
    #net-statistic {
        max-height: 300px;
        overflow: auto;
    }
</style>
<div id="main">
<h1>Hostname: {{.hostname}} netstat detail</h1>
<hr/>
<h2>Network statistic:</h2>
    <table>
        <tr>
            <th>Interface</th><td> {{.nets.InterfaceName}}</td>
            <th>RxBytes</th><td> {{.nets.RxBytes}}</td>
            <th>RxDropped</th><td> {{.nets.RxDropped}}</td>
            <th>RxErrors</th><td> {{.nets.RxErrors}}</td>
            <th>TxBytes</th><td> {{.nets.TxBytes}}</td>
            <th>TxDropped</th><td> {{.nets.TxDropped}}</td>
            <th>TxErrors</th><td> {{.nets.TxErrors}}</td>
            <th>sockets</th><td> {{.nets.Sockstat.Sockets}}</td>
            <th>TCP.inuse</th><td> {{.nets.Sockstat.TCP.InUse}}</td>
            <th>TCP.tw</th><td> {{.nets.Sockstat.TCP.Tw}}</td>
            <th>TCP.alloc</th><td> {{.nets.Sockstat.TCP.Alloc}}</td>
            <th>UDP.inuse</th><td> {{.nets.Sockstat.UDP.InUse}}</td>
            <th>tcp_rmem</th><td> {{.nets.TCPReadMem}}</td>
            <th>tcp_wmem</th><td> {{.nets.TCPWriteMem}}</td>
        </tr>
    </table>
    <pre id="net-statistic"> {{.netsStr}} </pre>

<h2>TCP Connections:</h1>
    <table>
        {{range $key, $value := .tcpCounts}}
        <tr>
            <th>{{$key}}</th><td> {{$value}}</td>
        </tr>
        {{end}}
    </table>
    <table>
        <tr>
            <th>State</th>
            <th>Proto</th>
            <th>LocalAddr</th>
            <th>RemoteAddr</th>
        </tr>
    {{range $i, $r := .conns}}
        <tr>
            <th>{{$r.State}}</th>
            <td>{{$r.Proto}}</td>
            <td>{{$r.LocalAddr}}</td>
            <td>{{$r.ForeignAddr}}</td>
        </tr>
    {{end}}
    </table>
</div>
<script src="./bundle.js"> </script>
<script>
window.onload = function() { }
</script>