<style>
    table {
        border-collapse: collapse;
    }
    td, th, pre {
        border: 1px solid black;
    }
    #net-statistic {
        max-height: 584px;
        overflow: auto;
    }
</style>
<div id="main">
<h1>Hostname: {{.hostname}} netstat detail</h1>
<hr/>
<h2>Network statistic:</h2>
    <pre id="net-statistic"> {{.netsStr}} </pre>

<h2>TCP Connections:</h1>
    <table>
        {{range $key, $value := .tcpCounts}}
        <tr>
            <th>{{$key}}</th><td> {{$value}}</td>
        </tr>
        {{end}}
    </table>
    <table>
        <tr>
            <th>State</th>
            <th>Proto</th>
            <th>LocalAddr</th>
            <th>RemoteAddr</th>
        </tr>
    {{range $i, $r := .conns}}
        <tr>
            <th>{{$r.State}}</th>
            <td>{{$r.Proto}}</td>
            <td>{{$r.LocalAddr}}</td>
            <td>{{$r.ForeignAddr}}</td>
        </tr>
    {{end}}
    </table>
</div>
<script src="./bundle.js"> </script>
<script>
window.onload = function() { }
</script>